    		<div>
			
			<div class="wrapper">
			            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
      <a class="navbar-brand" href="" id="brand">My ItineraryApp</a>
       <ul class="nav navbar-nav">
      
      <li><a href="">About</a></li>
      <li><a href="">Help</a></li>
	      </ul>
	</div>
	<ul class="nav navbar-right top-nav">
						<div class="navbar-brand" id="brand">
							Welcome <strong><span id="fname" ng-bind="firstname"></span></strong> <strong><span id="lname" ng-bind="lastname"></span></strong>
						</div>

						<li><a href=" \MyitineraryApp\app/#/" style="margin-right:20px"><span style="margin-right:10px" class="glyphicon glyphicon-log-out"></span>Log out</a></li>
					</ul>

  
   


      
		
		
                	<div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-default side-nav">
                        <li class=" ">
                            <a href="#bookResort"><i class="fa fa-fw fa-hotel"></i>Book Resort</a>
                        </li>
                        <li class=" ">
                            <a href="#bookDining"><i class="fa fa-spoon"></i> Book Dining</a>
                        </li>
                        <li class=" ">
                            <a href="#viewItineary"><i class="fa fa-fw fa-table"></i> View Itinerary</a>
                        </li>
                    </ul>
                </div>
           </nav>
		   </div>
			<div class="page-wrapper" style="margin-left:110px">
               <div class="rst2">
			<h1 style="color:black">Resort Reservation Confirmation</h1>
			<h2 style="color:black">Your reservation is confirmed at Capgemini Resort</h2>
			<hr/>
			</div>
			<div class="container2">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-4" style="color:black"><strong>Reservation :</strong><strong><span style="color:black" ng-bind="reservation"></span></strong></div>
						<div class="col-sm-4" style="color:black"><strong>Room Type : </strong><strong> <span style="color:black" ng-bind="resort_type"></span></strong> </div>
						<div class="col-sm-4" style="color:black"><strong>Number of guests : </strong><strong><span style="color:black" ng-bind="no_of_guests"></span></strong> </div>
						<div class="col-sm-4" style="color:black"><strong>Arrival Date : </strong><strong><span style="color:black" ng-bind="checkIn_date"></span></strong></div>
						<div class="col-sm-4" style="color:black"><strong>Departure Date : </strong><strong><span style="color:black" ng-bind="checkout_date"></span></strong></div>
						<div class="col-sm-4" style="color:black"><strong>Number of Nights : </strong><strong><span style="color:black" ng-bind="no_of_nights"></span></strong> </div>
						 <div class="col-sm-4" style="color:black"><strong>Status : </strong><strong> <span style="color:black" ng-bind="status"></span></div></strong>
						 <div class="col-sm-4" style="color:black"><strong>  </strong></div>
						 <div class="col-sm-4" style="color:black"><button type="button" class="btn btn-primary" ng-click="cancelResort()">Cancel Booking</button>
						   </div>
					</div>
					</div>
           
				
            </div>
                 
               
				</div>
				
				<div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="navbar-footer">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<ul class="nav navbar-left bottom-nav">
				  <div  class="navbar-brand"><a href="">News</a></div>
                </ul>
				 <ul class="nav navbar-left bottom-nav">
				  <div  class="navbar-brand"><a href="">Contact us: 9874112356</a></div>
                </ul>
                    
                <div class="drop">
                 
				<ul class="nav navbar-right bottom-nav">
				  <div  class="navbar-brand"><a href="https://www.google.co.in/search?q=www.disneyworld&oq=www.disneyworld&aqs=chrome..69i57.7563j0j7&sourceid=chrome&ie=UTF-8&safe=active" style="margin-right:20px">www.disneyWorld.co.in</div></a>
                </ul>
				 <ul class="nav navbar-right bottom-nav">
				  <div  class="navbar-brand"><a href="">Services</div>
                </ul>

        </div>
		</div>
   
   </div>
				</div>
				
            
		
    










            
        
        
    



