<div>
			<div class="wrapper">
			            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
      <a class="navbar-brand" href="">My ItineraryApp</a>
       <ul class="nav navbar-nav">
      
      <li><a href="">About</a></li>
      <li><a href="">Help</a></li>
	      </ul>
	</div>
	<ul class="nav navbar-nav navbar-right">
		      <li><a href="#login" style="margin-right:20px"><span style="margin-right:10px" class="glyphicon glyphicon-log-in"></span>Login</a></li>
			  
    </ul>
  
   
</nav>

       
		
		</div>
		
		
		
		
                       
   <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="navbar-footer">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<ul class="nav navbar-left bottom-nav">
				  <div  class="navbar-brand"><a href="">News</a></div>
                </ul>
				 <ul class="nav navbar-left bottom-nav">
				  <div  class="navbar-brand"><a href="">Contact us: 9874112356</a></div>
                </ul>
                    
                <div class="drop">
                 
				<ul class="nav navbar-right bottom-nav">
				  <div  class="navbar-brand"><a href="https://www.google.co.in/search?q=www.disneyworld&oq=www.disneyworld&aqs=chrome..69i57.7563j0j7&sourceid=chrome&ie=UTF-8&safe=active" style="margin-right:20px">www.disneyWorld.co.in</div></a>
                </ul>
				 <ul class="nav navbar-right bottom-nav">
				  <div  class="navbar-brand"><a href="">Services</div>
                </ul>

        </div>
		</div>
   
   </div>
        </div>
		
		

